# GCP Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_ZONE=us-central1-c

# AWS Configuration
AWS_REGION=your-aws-region
AWS_EKS_CLUSTER_ROLE_ARN=arn:aws:iam::YOUR_ACCOUNT_ID:role/YourEksClusterRole
AWS_SUBNET_IDS=subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy
AWS_SECURITY_GROUP_IDS=sg-xxxxxxxxxxxxxxxxx